.dockerignore
.env
.env-*
.git
_/
dist
docker-compose.yml
node_modules
tmp

# Remix files
apps/**/build
apps/**/.cache
apps/**/tsconfig.tsbuildinfo

# Mina zkApp files
libs/contracts*/build
libs/contracts*/keys
